#header{
    display: flex;
    background-color: #0000FF;
    color: white;
    width: 100%;
    height: auto;
    #title{
        color: white;
        margin-left: 2rem;
        // border: 1px solid white;
        height:auto;
    }
    #nav{
        display: flex;
        float: right;
        margin-left: 45rem;
        // border: 1px solid white;
        height: auto;
        ul{
            list-style: none;
	        padding-left: 0px;
            margin-top: 0px;
            // border: 1px solid white;
            li{
                display: inline-block;
                margin-left: 0.6rem;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}